In [13]:
import pandas as pd
import numpy as np
import math

In [14]:
df2 = pd.DataFrame(np.array([["", "", 7,5,"",9,"",3,""], 
                             ["", 8, 9,"",2,"","","",6], 
                             ["", 1, "",8,"",6,9,7,""],
                            [7,"",5,"",6,"","",8,""],
                            ["","",8,9,"",5,6,"",""],
                            ["",6,"","",1,8,"","",9],
                            ["",7,"","","","","",1,""],
                            [8,"","","",5,"",2,9,""],
                            ["",5,"",1,"",2,4,"",7]]),
                   columns=[i for i in range(0,9)],
                  index=[i for i in range(0,9)])

In [15]:
df2

   0  1  2  3  4  5  6  7  8
0        7  5     9     3
1     8  9     2           6
2     1     8     6  9  7
3  7     5     6        8
4        8  9     5  6
5     6        1  8        9
6     7                 1
7  8           5     2  9
8     5     1     2  4     7

In [16]:
# def roundup(x):
#     if x ==1 : return 3
#     else:  return int(math.ceil(x / 3.0)) * 3

# def rounddown(x):
#     if x%3 ==0: return x-2
#     else: 
#         val = round(x - (x%3.5))
#         if val ==0: return 1 
#         else: return val

def get_block(df,row,col):
    output=[]
    
    x_start, y_start = 3*(row//3), 3*(col//3)
    x_end, y_end = x_start + 3, y_start + 3
    
    for c in range(y_start,y_end):
        for r in range(x_start,x_end):
            output.append(df2[c][r])
    return [int(i) for i in output if i !=""]

def options_finder(df,row,col):
    if df[col][row] !="":
        return None
    else:
        rows = [int(i) for i in list(set(df.loc[row])) if i !=""]
        cols = [int(i) for i in list(df[col]) if i !=""]
        block = get_block(df,row,col)
        
        rows.extend(cols)
        rows.extend(block)
        options = [i for i in range(1,10) if i not in list(set(rows))]
        return len(options)
    
def fetch_value(df,row,col):
    if df[col][row] !="":
        return None
    else:
        rows = [int(i) for i in list(set(df.loc[row])) if i !=""]
        cols = [int(i) for i in list(df[col]) if i !=""]
        block = get_block(df,row,col)
        
        rows.extend(cols)
        rows.extend(block)
        options = [i for i in range(1,10) if i not in list(set(rows))]
        return options[0]

def create_options_df(df):
    df_output = pd.DataFrame(index=[i for i in range(0,9)], columns=[i for i in range(0,9)])
    for row in range(0,9):
        for col in range(0,9):
            df_output[col][row]=options_finder(df,row,col)
    return df_output

def location_finder(df,value):
    output = []
    for row in range(0,9):
        for col in range(0,9):
            if df[col][row] ==value:
                output.append([row,col])
    return output

In [17]:
get_block(df2,1,8)

[9, 3, 7, 6]

In [18]:
options_finder(df2,0,0)

3

In [19]:
create_options_df(df2)

      0     1     2     3     4     5     6     7     8
0     3     2  None  None     1  None     2  None     4
1     3  None  None     3  None     4     2     2  None
2     4  None     3  None     2  None  None  None     3
3  None     4  None     3  None     2     2  None     4
4     4     3  None  None     3  None  None     2     4
5     3  None     3     4  None  None     3     3  None
6     5  None     4     3     4     2     3  None     3
7  None     2     4     4  None     3  None  None     1
8     3  None     2  None     3  None  None     1  None

In [8]:
location_finder(create_options_df(df2),1)

[[0, 4], [7, 8], [8, 7]]

In [9]:
options_finder(df2,1,5)

4

In [10]:
fetch_value(df2,1,5)

1

## Now to Iterate through

In [11]:
def solve(df):
    action = True
    while action == True:
        coords=location_finder(create_options_df(df),1)
        if coords:
            for i in coords:
                row = i[0]
                col = i[1]
                val = fetch_value(df,row,col)
                df[col][row] = val
        else:
            break
    return df

In [12]:
solve(df2)

   0  1  2  3  4  5  6  7  8
0  6  2  7  5  4  9  1  3  8
1  3  8  9  7  2  1  5  4  6
2  5  1  4  8  3  6  9  7  2
3  7  9  5  2  6  4  3  8  1
4  1  3  8  9  7  5  6  2  4
5  4  6  2  3  1  8  7  5  9
6  2  7  6  4  9  3  8  1  5
7  8  4  1  6  5  7  2  9  3
8  9  5  3  1  8  2  4  6  7