In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
df2 = pd.DataFrame(np.array([["", "", 7,5,"",9,"",3,""], 
                             ["", 8, 9,"",2,"","","",6], 
                             ["", 1, "",8,"",6,9,7,""],
                            [7,"",5,"",6,"","",8,""],
                            ["","",8,9,"",5,6,"",""],
                            ["",6,"","",1,8,"","",9],
                            ["",7,"","","","","",1,""],
                            [8,"","","",5,"",2,9,""],
                            ["",5,"",1,"",2,4,"",7]]),
                   columns=[i for i in range(1,10)],
                  index=[i for i in range(1,10)])

In [3]:
df2

   1  2  3  4  5  6  7  8  9
1        7  5     9     3
2     8  9     2           6
3     1     8     6  9  7
4  7     5     6        8
5        8  9     5  6
6     6        1  8        9
7     7                 1
8  8           5     2  9
9     5     1     2  4     7

In [4]:
def get_row(df,row):
    list_ = list(set(df.loc[row]))
    return [int(i) for i in list_ if i !=""]

def get_column(df,col):
    list_ = list(df[col])
    return [int(i) for i in list_ if i !=""]

def roundup(x):
    if x ==1 : return 3
    else:  return int(math.ceil(x / 3.0)) * 3

def rounddown(x):
    if x%3 ==0: return x-2
    else: 
        val = round(x - (x%3.5))
        if val ==0: return 1 
        else: return val

def get_block(df,row,col):
    output=[]
    for c in range(rounddown(col),roundup(col)+1):
        for r in range(rounddown(row),roundup(row)+1):
            output.append(df2[c][r])
    return [int(i) for i in output if i !=""]

def get_options(x,y,z):
    x.extend(y)
    x.extend(z)
    in_play = list(set(x))
    options = [i for i in range(1,10) if i not in in_play]
    return len(options)

def options_finder(df,row,col):
    if df[col][row] !="":
        return None
    else:
        return get_options(get_row(df,row),get_column(df,col),get_block(df,row,col))
    
def get_options_2(x,y,z):
    x.extend(y)
    x.extend(z)
    in_play = list(set(x))
    options = [i for i in range(1,10) if i not in in_play]
    return options
    
def fetch_value(df,row,col):
    if df[col][row] !="":
        return None
    else:
        return get_options_2(get_row(df,row),get_column(df,col),get_block(df,row,col))[0]

def create_options_df(df):
    df_output = pd.DataFrame(index=[i for i in range(1,10)], columns=[i for i in range(1,10)])
    for row in range(1,10):
        for col in range(1,10):
            df_output[col][row]=options_finder(df,row,col)
    return df_output

def location_finder(df,value):
    output = []
    for row in range(1,10):
        for col in range(1,10):
            if df[col][row] ==value:
                output.append([row,col])
    return output

In [5]:
options_finder(df2,1,1)

3

In [6]:
create_options_df(df2)

      1     2     3     4     5     6     7     8     9
1     3     2  None  None     1  None     2  None     4
2     3  None  None     3  None     4     2     2  None
3     4  None     3  None     2  None  None  None     3
4  None     4  None     3  None     2     2  None     4
5     4     3  None  None     3  None  None     2     4
6     3  None     3     4  None  None     3     3  None
7     5  None     4     3     4     2     3  None     3
8  None     2     4     4  None     3  None  None     1
9     3  None     2  None     3  None  None     1  None

In [7]:
location_finder(create_options_df(df2),1)

[[1, 5], [8, 9], [9, 8]]

In [8]:
options_finder(df2,1,5)

1

In [9]:
fetch_value(df2,1,5)

4

## Now to Iterate through

In [10]:
def solve(df):
    action = True
    while action == True:
        coords=location_finder(create_options_df(df),1)
        if coords:
            for i in coords:
                row = i[0]
                col = i[1]
                val = fetch_value(df,row,col)
                df[col][row] = val
        else:
            break
    return df

In [11]:
solve(df2)

   1  2  3  4  5  6  7  8  9
1  6  2  7  5  4  9  1  3  8
2  3  8  9  7  2  1  5  4  6
3  5  1  4  8  3  6  9  7  2
4  7  9  5  2  6  4  3  8  1
5  1  3  8  9  7  5  6  2  4
6  4  6  2  3  1  8  7  5  9
7  2  7  6  4  9  3  8  1  5
8  8  4  1  6  5  7  2  9  3
9  9  5  3  1  8  2  4  6  7

In [18]:
x=3
3*(x//3) +1

4